body {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    justify-content: center;
    font-family: "Roboto", serif;
}

input, button { 
    margin: 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid white;
    background: white;
    outline: 0;
}

input:hover, input:focus, button:hover, button:focus{
    border: 2px solid lightcoral;
    transition: border 500ms;
}

button {
    cursor: pointer;
}