.root {
    width: 25%;
    height: 60%;
    left: 50%;
    background-color: cornflowerblue;
    text-align: center;
}

.input {
    background-color: greenyellow;
}

.enter {
    width: 75%;
    line-height: 50px;
    padding-left: 10px;
}

.addBtn {
    width: 15%;
    height: 40px;
    margin-left: 5px;
}

.list {
    margin-top: 10%;
}