.note {
    background: green;
    height: 2.5em;
    align-content: center;
}

.text {
    float: left;
    margin-left: 15px;
}

.deleteBtn {
    float: right;
    margin-right: 15px;
}

.noteId {
    padding: 2px;
    border: 2px dotted red;
    margin-right: 10px;
}

.checkbox {
    margin-right: 5px;
}