.root {
    position: absolute;
    top: 15%;
    width: 25%;
    height: 60%;
    text-align: center;
}

.headText {
    border-radius: 8px;
    background: palegoldenrod;
}

.input {
    height: 10%;
    padding: 15px 0 15px 0;
}

.inputEnter {
    float: left;
    width: 80%;
    line-height: 50px;
    padding-left: 10px;
    margin-right: 5px;
}

.addBtn {
    float: right;
    height: 45%;
    margin-bottom: 5px;
    width: 15%;
}

.clearBtn{
    float: right;
    height: 45%;
    width: 15%;
}

.list {
    margin-top: 5%;
    height: fit-content;
}

.enter {
    opacity: 0;
    transform: translateX(-350px);
    transition: all 400ms ease-in;
}

.enterActive {
    transform: translateX(0px);
    opacity: 1;
}

.exit {
    opacity: 1;
    transition: all 400ms ease-in;
}

.exitActive {
    transform: translateX(350px);
    opacity: 0;
}

