.root {
    width: 25%;
    height: 60%;
    left: 50%;
    background-color: cornflowerblue;
    text-align: center;
}

.clear {
    margin-top: -15px;
    margin-bottom: 15px;
}

.clear button {
    width: 100%;
}

.input {
    background-color: greenyellow;
}

.enter {
    width: 75%;
    line-height: 50px;
    padding-left: 10px;
}

.addBtn {
    width: 15%;
    height: 40px;
    margin-left: 5px;
}

.list {
    margin-top: 5%;
}

.note-enter {
    opacity: 0;
    transition: opacity 200ms;
}

.note-enter-active {
    opacity: 1;
}

.note-exit {
    opacity: 1;
    transition: opacity 200ms;
}

.note-exit-active {
    opacity: 0;
}

